<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="test it">

 <listeners>
 <listener class-name ="org.uncommons.reportng.HTMLReporter.class"> </listener>
 </listeners>
 
 <test name="test1">	
		<classes>
			<class name="testcase.testcase_1" />
		</classes>
	</test> <!--
	Test -->

	<test name="test2">
		<classes>
			<class name="testcase.teatcase_2" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
